@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&family=Montserrat:wght@300;700&display=swap'); /*import fonts */

body{
    font-family: 'Montserrat Subrayada', sans-serif; 
    background-color: black;
    margin: 0px;
}

h1{
    text-align: center;
    color: white
}

#backgroundTitleVideo{
    position: absolute;
    right: -10px;
    left: 10px;
    bottom: 0px;
    width: 1900px;
    object-fit: fill;
    overflow:hidden;

    filter: opacity(60%);
    z-index: -1;
}

#backgroundTitleVideo{
    color: white;
    text-align: right;
}

#backgroundTitleVideo a, a:visited{
    text-decoration: none;
    color: white;
    padding-right: 21px;
}

#backgroundTitleVideo a:hover{
    color: #707a7e;
}

#navMenu{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: black;
    margin: 0px;
    z-index: 1;
}

#navMenu a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    font-weight: 500;
    padding: 14px;
    text-decoration: none;
}

#navMenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navMenu a:hover{
    color: #bccad0;
    background-color: #707a7e;
}

#home {
    display: none;
}

#logo img{
    position: fixed;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    z-index: 1; 
}

#heading{
    color: white;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#heading p{
    margin-top: 5px;
}

#heading h1{
    margin-bottom: 5px;
}

#aboutUs {
    display: none;
}


#aboutUs p{
    font-family: 'Montserrat', sans-serif;  
    font-weight: 100;
    color: white;
    padding: 14px;
}

#findArtists{
    display: none;
}

#artOf{
    display: none;
}

.content {
    padding: 0 18px;
    display: none;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordian {
    background-color:  #707a7e;
    color: #f1f1f1;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .accordian:hover {
    background-color: #ccc;
  }

#artOf p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color: white;
    padding: 14px;
}

#artOf img{
    display: block;
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#otziCaption{
    position: absolute;
    margin: auto;
}

#contact{
    display: none;
}

#reviews{
    position: relative;
    background: #707a7e;
}

.review{
    display: none;
    padding: 80px;
    text-align: center;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 25%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

#map{
    display:none;
}

